
<form action="/upload" method="post">
  <div clas="table_info">
    {{COUNTER_TABLE co_num }}
    <div class="btn_box"><button type="submit" class="submit_btn">Continue</button></div>
  </div>
</form>
