<div class="footer">
    <div class="Developer_text">Developed with Node JS and Coffee by:</div>
    <div  class="Developer_name"><a href="http://mohdummair.dx.am" target="_blank">Mohammad Ummair</div>
</div>
