<div class="header">
    <div class="Website_name">Welcome To Make My Doc</div>
    <div class="Links">
        <span class="link"><a href="/">Theory Marks Document</a></span>
        <span class="link active"><a href="/PracticalHome">Practical Marks Document</a></span>
    </div>
</div>
<hr>
