<center><form ref='uploadForm'
      id='uploadForm'
      action='/preresultPractical'
      method='post'
      encType="multipart/form-data">
        <input type="file" name="File" />
        <input type='submit' value='Upload!' />
  </form></center>
