<HTML>
    <head>
      <title>Welcome To GETDOCS</title>
      <link rel="stylesheet" type="text/css" href="css/title.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed" rel="stylesheet">
      <link rel="icon" href="icon.png">
    </head>
    <body>
      {{> title}}
      <center><h2>Sorry This Page Doesn,t Exists!! <br>Please Go Back To Home Page!</h2></center>
      {{> footer}}
    </body>
</HTML>
