<HTML>
    <head>
      <title>Welcome To GETDOCS</title>
      <link rel="stylesheet" type="text/css" href="css/title.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
      {{> title}}
      {{> co_input}}
      {{> footer}}
    </body>
</HTML>
